Maurer.XUnit.Utilities/.vs/Maurer.XUnit.Utilities/v17/*
Maurer.XUnit.Utilities/Maurer.XUnit.Utilities/obj/*
Maurer.XUnit.Utilities/Maurer.XUnit.Utilities/bin/*
Maurer.XUnit.Utilities/Maurer.XUnit.Utilities/UnitTesting/obj/*
Maurer.XUnit.Utilities/Maurer.XUnit.Utilities/UnitTesting/bin/*
Maurer.XUnit.Utilities/Maurer.XUnit.Utilities/.vs/*
Maurer.XUnit.Utilities/.vs/*
Maurer.XUnit.Utilities/UnitTesting/bin/*
Maurer.XUnit.Utilities/UnitTesting/obj/*
.config/
Maurer.XUnit.Utilities/.config/
artifacts/